.tab-outlet {
    position: fixed;
    bottom: 10px;
    width: inherit;
    display: flex;
    justify-content: center;
    transition: bottom 0.3s;
    .tab-container {
        display: flex;
        font-size: 30px;
        background-color: #423752;
        border-radius: 30px;

        .tab-item {
            padding: 10px 15px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            &:first-child {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            &:last-child {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;

            }
            &:not(:last-child) {
                border-right: 0.5px solid #f4eeee59;
            }

            &:hover {
                background-color: #6d637c;
                color: white;
            }
        }
    }
}